<div id="bigWrapper">
    <div id="littleWrapper">
        <div id="collapseOne" class="activeLibraryContainer" data-oc="0">
            <div class="card-group">
                <% faves.forEach(function(fave) { %>
                    <div class="card w-50">
                        <div class="card-img-top d-flex align-items-center bg-light">
                            <div>
                                <img class="img-fluid" src="<%= fave.thumb %>" alt="Card image cap">
                            </div>
                            <div>
                                <h5 class="col p-2 m-0">
                                    <%= fave.title %>
                                </h5>
                                <h6 class="col p-2 m-0">
                                    <%= fave.author %>
                                </h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="btn-group" role="group" aria-label="Library Buttons">
                                <button type="button" class="btn btn-secondary">Create a BookAThon</button>
                                <button type="button" class="btn btn-secondary">Remove Book</button>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <div id="collapseTwo" class="activeLibraryContainer" data-oc="0">
            <div class="card-group">
                <% futrs.forEach(function(futr) { %>
                    <div class="card w-50">
                        <div class="card-img-top d-flex align-items-center bg-light">
                            <div>
                                <img class="img-fluid" src="<%= futr.thumb %>" alt="Card image cap">
                            </div>
                            <div>
                                <h5 class="col p-2 m-0">
                                    <%= futr.title %>
                                </h5>
                                <h6 class="col p-2 m-0">
                                    <%= futr.author %>
                                </h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="btn-group" role="group" aria-label="Library Buttons">
                                <button type="button" class="btn btn-secondary">Create a BookAThon</button>
                                <button type="button" class="btn btn-secondary">Remove Book</button>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <div id="collapseThree" class="activeLibraryContainer" data-oc="0">
            <div class="card-group">
                <% crnts.forEach(function(crnt) { %>
                    <div class="card w-50">
                        <div class="card-img-top d-flex align-items-center bg-light">
                            <div>
                                <img class="img-fluid" src="<%= crnt.thumb %>" alt="Card image cap">
                            </div>
                            <div>
                                <h5 class="col p-2 m-0">
                                    <%= crnt.title %>
                                </h5>
                                <h6 class="col p-2 m-0">
                                    <%= crnt.author %>
                                </h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="btn-group" role="group" aria-label="Library Buttons">
                                <button type="button" class="btn btn-secondary">Create a BookAThon</button>
                                <button type="button" class="btn btn-secondary">Remove Book</button>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <div id="collapseFour" class="activeLibraryContainer" data-oc="0">
            <div class="card-group">
                <% prevs.forEach(function(prev) { %>
                    <div class="card w-50">
                        <div class="card-img-top d-flex align-items-center bg-light">
                            <div>
                                <img class="img-fluid" src="<%= prev.thumb %>" alt="Card image cap">
                            </div>
                            <div>
                                <h5 class="col p-2 m-0">
                                    <%= prev.title %>
                                </h5>
                                <h6 class="col p-2 m-0">
                                    <%= prev.author %>
                                </h6>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="btn-group" role="group" aria-label="Library Buttons">
                                <button type="button" class="btn btn-secondary">Create a BookAThon</button>
                                <button type="button" class="btn btn-secondary">Remove Book</button>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>
</div>